*{
    position:relative;
}
body{
    background:url(../imgs/2.png) ;
    background-size: cover;
    box-sizing:border-box;
}
img{
   border:0;
   vertical-align: middle;
}
@mixin center{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#header{
    overflow: hidden;
    padding:0.58rem 0.40rem 0.58rem 0.40rem;
    .volume{
        overflow: hidden;
        img.vi-left{
            width:0.6rem;
            float:left;
            margin-right:0.12rem;
        }
        #volume{
            position:absolute;
            top:0.4rem;
            left:0.7rem;
            height:0.1rem;
            width:5.15rem;
            background: #62C6C7;
            #v-i{
                position:absolute;
                right:-0.13rem;
                top:-0.10rem;
                width:0.26rem;
                height:0.26rem;
                border-radius:50%;
                background: #fff;
            }
        }
        img.vi-right{
            width:0.7rem;
            float:right;
            margin-left:0.06rem;
        }
    }
    
}
#center{
    height:6rem;
   .f-img{
       @include center;
       width:5.3rem;
       height:5.3rem;
   }
   .s-img{
       @include center;
       width:4.5rem;
       height:4.5rem;
   }
   .t-img{
       @include center;
       width:1.85rem;
   } 
}
//
#lists{
    padding:0.3rem 0.8rem;
    overflow: hidden;
    font-weight:bold;
    color:#62C6C7;
    height:1.4rem;
    position:relative;
    li{
        span{
            font-weight:normal;
            height:50%;
            font-size:20px;
            color:#fff;
            margin-top:10px;
        }
        span:first-child{
            font-size:25px;
        }
    }
}
#pro{
     padding:0.3rem 0.8rem;
     #progress{
        width:5.75rem;
        height:0.1rem;
        background: #253D3F;
        #p-i{
            position:absolute;
            top:-0.1rem;
            left:-0.13rem;
            width:0.26rem;
            height:0.26rem;
            background: #fff;
            border-radius:50%;
        }
        #p-p{
            width:0.1rem;
            height:0.1rem;
            background: #62C6C7; 
        } 
     }
     #current-time,#duration{
         float:left;
         color:#fff;
         font-size:18px;
         margin-top:5px;
     }
     #duration{
         float:right;
     }
}


.vocie{
//   padding:0.3rem 0.8rem;
//   margin-top:0.3rem;
     overflow: hidden;
     position:relative;
     #previous{
         float:left;
//        width:0.95rem;
          overflow: hidden;
         img{
              top:0.3rem;
//           width:0.95rem;
             float:left;
             width:0.81rem;
         }
         
     }
     #play{
          float:left;
          margin-left:0.4rem;
          width:1.5rem;
          height:1.5rem;
          margin:auto 15% ;
//        background: url(../imgs/play.png);
//        background-size:cover;
     }
      #next{
         float:right;
//        width:0.95rem;
         img{
             top:0.3rem;
//           width:0.95rem;
             width:0.81rem;
             float:right;
         }
         
     }
}
#footer{
    padding:0.32rem 0.8rem;
    margin-top:0.1rem;
    img{
        width:0.4rem;
    }
    .left{
        float:left;
    }
    .center{
        position: absolute;
        top:0.05rem;
        @include center;
    }
    .right{
        float:right;
    }
}
#active{
    cursor: pointer;
    position: absolute;
    top:0;
    z-index:1;
}

#music{
    position:absolute;
    top:100%;
    left:0;
    width:100%;
    height:101%;
    background: #62C6C7;
    z-index:1;
    padding:0.2rem;
    display:none;
    #music-list{
        .active{
            background:url(../imgs/yin.gif);
            background-repeat:no-repeat;
            background-position: 100% 0%;
        }
        .active span{
            color: rgba(0,0,0,0.3);
            
        }
        li{
         padding:0.2rem;
         z-index:3;
         border-bottom:2px solid rgba(255,255,255,0.3);
        span{
            display: block;
            font-size:20px;
            color:#fff;
            
        }
        span:first-child{
            font-weight:bold;
        }
        .yin{
            float:right;
            position:absolute;
            top:0.1rem;
            right:0;
        }
        .delete{
            float:right;
            position:absolute;
            top:0.25rem;
            right:0.2rem;
            height:0.8rem;
            background: rgba(255,255,255,0.3);
        }
    }
    }
     
}
#all{
    overflow: hidden;
    padding:0.1rem;
    width: 100%;
     border-bottom:2px dotted rgba(255,255,255,0.3);
    .every{
        text-align: center;
        padding:0.2rem;
        width:33.33%;
        display:block;
        float:left;
       color:slategray;
        margin-bottom:0.2rem;
    } 
    .every:nth-of-type(2){
        color:#000;
    }
}
#sou{
    padding:0.4rem;
    z-index:2;
    input{
       width:100%;
       height:0.5rem;
       outline: none;
       border:0;
       background: #cfcfff;
       border-radius:0.2rem;
       padding-left:0.3rem;
    }
    #add{
       width:0.5rem;
       float:right;
       position:absolute;
       top:0.4rem;
       right:0.4rem; 
    }
   
}
#close{
    height:0.5rem;
    color:#000;
    position:absolute;
    right:0;
    top:0;
    background: #ccc;
    line-height: 0.5rem;
    text-align: center;
}
